---
import Layout from "../layouts/Layout.astro";
import VideoComponent from "../components/VideoComponent";
import { AiOutlineLogout } from "react-icons/ai";
import { BiSolidMessageRoundedError } from "react-icons/bi";
import { GiPawHeart } from "react-icons/gi";
import { HiMiniVideoCamera } from "react-icons/hi2";
import { TbVaccine } from "react-icons/tb";
---

<Layout title="To See">
  <main class="min-h-screen w-full bg-white">
    <nav
      class="fixed bottom-0 w-full text-7xl flex justify-between border-t border-black px-2 py-4 bg-white md:hidden"
    >
      <a href="/mypets">
        <span>
          <GiPawHeart />
        </span>
      </a>
      <a href="/health">
        <span>
          <TbVaccine />
        </span>
      </a>
      <a href="/tosee">
        <span>
          <HiMiniVideoCamera />
        </span>
      </a>
      <a href="#">
        <span>
          <AiOutlineLogout />
        </span>
      </a>
    </nav>

    <section class="min-h-screen w-full flex flex-col items-center md:bg-cover">
      <div class="h-1/4 w-full flex items-center justify-center md:hidden border border-black sticky top-0 bg-white">
        <h1
          class="text-6xl font-semibold bg-white p-2 rounded-md"
          style="font-family: 'Kavoon', cursive;"
        >
          Paw-Follow
        </h1>
      </div>

      <header
        class="w-full px-4 py-8 md:flex justify-center bg-fuchsia-50 border-b border-black hidden"
      >
        <div class="flex justify-center items-center">
          <h1
            class="text-8xl font-semibold"
            style="font-family: 'Kavoon', cursive;"
          >
            Paw-Follow
          </h1>
        </div>
        <div
          class="hidden lg:flex items-center text-6xl justify-center gap-4 fixed right-20"
        >
          <div class="flex flex-col items-center cursor-pointer">
            <BiSolidMessageRoundedError />
            <span class="text-2xl">About Us</span>
          </div>
          <div class="flex flex-col items-center cursor-pointer">
            <AiOutlineLogout />
            <span class="text-2xl">Log Out</span>
          </div>
        </div>
      </header>

      <nav
        class="w-full md:flex justify-center items-center text-7xl gap-20 hidden"
      >
        <a href="/mypets">
          <span
            class="bg-white rounded-md flex flex-col items-center cursor-pointer"
          >
            <GiPawHeart />
            <span class="text-2xl font-semibold">My Pets</span>
          </span>
        </a>
        <a href="/health">
          <span
            class="bg-white rounded-md flex flex-col items-center cursor-pointer"
          >
            <TbVaccine />
            <span class="text-2xl font-semibold">Health</span>
          </span>
        </a>
        <a href="/tosee">
          <span
            class="bg-white rounded-md flex flex-col items-center cursor-pointer"
          >
            <HiMiniVideoCamera />
            <span class="text-2xl font-semibold">To see</span>
          </span>
        </a>
      </nav>

      <div class="w-full p-4 flex flex-wrap gap-4 justify-center">
        <div class="w-96">
          <VideoComponent
            title="How to train your dog"
            description="Tips to train your dog"
            url="https://www.youtube.com/watch?v=jFMA5ggFsXU"
            client:load
          />
        </div>
        <div class="w-96">
          <VideoComponent
            title="How to tame your hamster"
            description="Tips to tame yout hamster"
            url="https://www.youtube.com/watch?v=RiIkUA4J3uA"
            client:load
          />
        </div>
        <div class="w-96">
          <VideoComponent
            title="How to train your cat"
            description="Tips to train your cat"
            url="https://www.youtube.com/watch?v=yM3n2mWZqUU"
            client:load
          />
        </div>
        <div class="w-96">
          <VideoComponent
            title="Health habits to your dog"
            description="Tips for your dog health" 
            url="https://www.youtube.com/watch?v=ilgM5IYjIG8&t=313s"
            client:load
          />
        </div>
        <div class="w-96">
          <VideoComponent
            title="Health habits to your hamster"
            description="Tips for your hamster health"
            url="https://www.youtube.com/watch?v=EqTDBc0KX_c"
            client:load
          />
        </div>
        <div class="w-96">
          <VideoComponent
            title="Health habits to yout cat"
            description="Tips for your cat health"
            url="https://www.youtube.com/watch?v=lArwj8ELa10"
            client:load
          />
        </div>
        <div class="w-96">
          <VideoComponent
            title="Things dogs love"
            description="Learning things that your dog loves"
            url="https://www.youtube.com/watch?v=SgCIZZodox8"
            client:load
          />
        </div>
        <div class="w-96">
          <VideoComponent
            title="Things hamsters love"
            description="Learning things that your hamster loves"
            url="https://www.youtube.com/watch?v=714uVOsOm7A"
            client:load
          />
        </div>
        <div class="w-96">
          <VideoComponent
            title="Things cats love"
            description="Learning things that your cat loves"
            url="https://www.youtube.com/watch?v=E9AMxpAim3k"
            client:load
          />
        </div>
      </div>
      
    </section>
  </main>
</Layout>
